<div class='membershipWrapper thank-you'>
  <div class="formWrapper">
      <div class='formHeader'>
        <h3>Bubble</h3>
        <p style='font-size:18px;'>Success!</p>
        <p style='font-size:18px;'>You're now part of the Bubble family.</p>
      </div>
      <div class='thankyou-content'>
        <p class='login-text-thank'>Log in to get special deals everywhere you see these labels:</p>
        <p class='discount-badges'><img src='https://cdn.shopify.com/s/files/1/0715/7723/9830/files/panda.jpg?v=1725527880'><span>Special low prices for members</span></p>
        <p class='discount-badges'><img src='https://cdn.shopify.com/s/files/1/0715/7723/9830/files/panda.jpg?v=1725527880'><span>Limited time offers exclusive for members</span></p>
        <p class='discount-badges'><img src='https://cdn.shopify.com/s/files/1/0715/7723/9830/files/panda.jpg?v=1725527880'><span>Bubble members get extra discounts</span></p>
        <p class='login-text-thank' style='margin-top:15px;'>You must be logged in to see your deals, so get started now!</p>
        {% if customer %}
          <a href='/collections/all'>Browse Products</a>
        {% else %}
          <a href='/account'>LOG IN</a>
        {% endif %}
      </div>  
    </div>
</div>

{% schema %}
{
  "name": "Thankyou Form",
  "settings": [
    {
      "type":"image_picker",
      "id":"logoImage",
      "label": "Logo Image"
    },
    {
      "type":"text",
      "id":"logoText",
      "label": "Logo Text"
    },
    {
      "type":"richtext",
      "id":"successMessage",
      "label": "Success Message"
    },
    {
      "type":"text",
      "id":"description",
      "label": "Description"
    },
    {
      "type":"text",
      "id":"message",
      "label": "Message"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":"text",
      "id":"buttonText",
      "label": "Text"
    },
    {
      "type":"url",
      "id":"buttonUrl",
      "label": "Url"
    }
  ],
  "presets": [
    {
      "name": "Thankyou Form",
      "category": "Custom"
    }
  ]
}
{% endschema %}