<div class='membershipWrapper thank-you'>
  <div class="formWrapper">
      <div class='formHeader'>
        <h3>Bubble</h3>
        <p style='font-size:18px;'>Success!</p>
        <p style='font-size:18px;'>You're now part of the Bubble family.</p>
        <p style='font-size:15px;margin-top:30px;'>Log in to get special deals everywhere you see these labels:</p>
      </div>
      <div>
      </div>  
    </div>
</div>

{% schema %}
{
  "name": "thankyou-form",
  "settings": [
  ],
  "presets": [
    {
      "name": "thankyou-form",
      "category": "Custom"
    }
  ]
}
{% endschema %}