<div class='membershipWrapper thank-you'>
  <div class="formWrapper">
      <div class='formHeader'>
        <h3>{% if section.settings.logoImage != blank %}<img src="{{ section.settings.logoImage | img_url:"1920x" }}">{% else %}{{ section.settings.logoText }}{% endif %}</h3>
        <div>{{ section.settings.successMessage }}</div>
      </div>
      <div class='thankyou-content'>
        <p class='login-text-thank'>Log in to get special deals everywhere you see these labels:</p>
        <p class='discount-badges'><img src='https://cdn.shopify.com/s/files/1/0715/7723/9830/files/panda.jpg?v=1725527880'><span>Special low prices for members</span></p>
        <p class='discount-badges'><img src='https://cdn.shopify.com/s/files/1/0715/7723/9830/files/panda.jpg?v=1725527880'><span>Limited time offers exclusive for members</span></p>
        <p class='discount-badges'><img src='https://cdn.shopify.com/s/files/1/0715/7723/9830/files/panda.jpg?v=1725527880'><span>Bubble members get extra discounts</span></p>
        <p class='login-text-thank' style='margin-top:15px;'>You must be logged in to see your deals, so get started now!</p>
        {% if customer %}
          <a href='/collections/all'>Browse Products</a>
        {% else %}
          <a href='/account'>LOG IN</a>
        {% endif %}
      </div>  
    </div>
</div>

{% schema %}
{
  "name": "Thankyou Form",
  "max_blocks": 5,
  "settings": [
    {
      "type": "image_picker",
      "id": "logoImage",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "logoText",
      "label": "Logo Text"
    },
    {
      "type": "richtext",
      "id": "successMessage",
      "label": "Success Message"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Message"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text",
      "default": "Browse Products"
    },
    {
      "type": "url",
      "id": "buttonUrl",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "image_text_block",
      "name": "Image and Text Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "blockImage",
          "label": "Block Image"
        },
        {
          "type": "text",
          "id": "blockTitle",
          "label": "Block Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Thankyou Form",
      "category": "Custom",
      "blocks": [
        {
          "type": "image_text_block",
          "settings": {
            "blockImage": "shopify:\/\/shop_images\/default-image.jpg",
            "blockTitle": "Welcome"
          }
        }
      ]
    }
  ]
}

{% endschema %}