<div class='membershipWrapper thank-you'>
  <div class="formWrapper">
      <div class='formHeader'>
        <h3>Bubble</h3>
        <p style='font-size:18px;'>Success!</p>
        <p style='font-size:18px;'>You're now part of the Bubble family.</p>
      </div>
      <div class='thankyou-content'>
        <p>Log in to get special deals everywhere you see these labels:</p>
        <p>Special low prices for members</p>
        <p>Limited time offers exclusive for members</p>
        <p>Bubble members get extra discounts</p>
        <p>You must be logged in to see your deals, so get started now!</p>
        <a href='#'>Login</a>
      </div>  
    </div>
</div>

{% schema %}
{
  "name": "thankyou-form",
  "settings": [
  ],
  "presets": [
    {
      "name": "thankyou-form",
      "category": "Custom"
    }
  ]
}
{% endschema %}