<div class='membershipWrapper'>
  <div class="formWrapper">
      <div class='formHeader'>
        <h3>Bubble</h3>
        <p style='font-size:16px;'>Success!</p>
        <p style='font-size:16px;'>You're now part of the Bubble family.</p>
        <p>Log in to get special deals everywhere you see these labels:</p>
      </div>
      <form id="setupForm">  
          <div class='formField'>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" required>      
          </div>
          <div class='formField'>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" required>
          </div>
          <div class='formField'>
            <label for="customerEmail">Email</label>
            <input type="text" name="customerEmail" required>
          </div>
          <div class='formField'>
            <label for="relationship">Relationship To Little Person</label>
            <select name="relationship" required>
                <option value=""></option>
                <option value="father">Father</option>
                <option value="mother">Mother</option>
                <option value="grandparent">Grandparent</option>
                <option value="friend">Friend</option>
                <option value="other">Other</option>
              </select>
          </div>
          <div class='formField'>
              <label for="dueDate">Due Date / Birth Date</label>
              <input type="date" name="dueDate" required>
          </div> 
          <div class='checkboxWrapper'>
            <div>
              <input type="checkbox" name="newsletter" checked>
              <label for="newsletter" class="checkBox"></label>
            </div>
            <div>
              <p class='newsletterLabel'>Sign up now to stay informed, inspired, connected and get first dibs on exciting promotions, special discounts, and exclusive offers!</p>
            </div>
          </div>
          <input type="hidden" id="selectCountry" name="countryCode" required >
          <input type="submit" class="membershipButton" value="sign up now">
      </form>
    </div>
</div>

{% schema %}
{
  "name": "thankyou-form",
  "settings": [
  ],
  "presets": [
    {
      "name": "thankyou-form",
      "category": "Custom"
    }
  ]
}
{% endschema %}